In [8]:
import pandas as pd
df = pd.read_csv('adult.xls')

In [9]:
df[(df['native-country'] == ' Germany') & (df['age'] > 40)]['salary'].value_counts(normalize=True)

 <=50K    0.568966
 >50K     0.431034
Name: salary, dtype: float64

In [5]:
df[df['sex'] == ' Female'].groupby(['race','sex'])['age'].mean()

race                 sex
 Amer-Indian-Eskimo   Female    37.117647
 Asian-Pac-Islander   Female    35.089595
 Black                Female    37.854019
 Other                Female    31.678899
 White                Female    36.811618
Name: age, dtype: float64

In [11]:
number_of_people = df.groupby('native-country')['hours-per-week'].count()
hard_working_people = df[df['hours-per-week'] == 40].groupby('native-country')['hours-per-week'].count()

relation = (hard_working_people / number_of_people).to_frame()

relation.sort_values('hours-per-week')

                             hours-per-week
native-country
 Hungary                           0.153846
 Thailand                          0.277778
 Outlying-US(Guam-USVI-etc)        0.357143
 France                            0.379310
 Honduras                          0.384615
 Haiti                             0.386364
 Germany                           0.394161
 Canada                            0.396694
 South                             0.400000
 Greece                            0.413793
 Iran                              0.418605
 Ecuador                           0.428571
 Taiwan                            0.431373
 England                           0.455556
 United-States                     0.459993
 India                             0.470000
 ?                                 0.488851
 Ireland                           0.500000
 Japan                             0.500000
 Jamaica                           0.506173
 China                             0.506667
 Peru                              0.516129
 Italy                             0.520548
 Trinadad&Tobago                   0.526316
 El-Salvador                       0.547170
 Nicaragua                         0.558824
 Dominican-Republic                0.571429
 Columbia                          0.576271
 Mexico                            0.580093
 Scotland                          0.583333
 Cuba                              0.589474
 Puerto-Rico                       0.605263
 Yugoslavia                        0.625000
 Poland                            0.633333
 Portugal                          0.648649
 Hong                              0.650000
 Guatemala                         0.671875
 Philippines                       0.676768
 Laos                              0.722222
 Vietnam                           0.731343
 Cambodia                          0.842105
 Holand-Netherlands                1.000000